/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
public/storage
/public/*
vendor
storage/*
/storage/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/vendor/*.key
/vendor/*/
vendor/composer
